.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.User-avatar {
  padding: 0 7px;
  display: flex;
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
    object-fit: cover;
  }
}

.upload {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #eee;
  }
}

.notification {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #eee;
  }
}

.ellipsis-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #eee;
  }

  .bx {
    font-size: 20px;
  }
}

.search-mobile {
  display: none;
}

.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

.logo {
  img {
    margin-top: 3px;
    width: 70px;
  }
}

.search {
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.search form {
  display: flex;
  height: 37px;
}

.search input {
  width: 500px;
  padding: 10px 20px;
  border: none;
  height: 100%;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
  background: #c2c3c6;
}

.right {
  right: 30px;
  display: flex;
  align-items: center;
}

.theme-toggle {
  .icon-toggle {
    font-size: 1.8rem;
    padding-right: 15px;
  }
}

.user-login {
  position: absolute;
  background-color: #fff;
  color: #000;
  right: 22px;
  top: 50px;
  min-width: 220px;

  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;

  .btn {
    margin: 10px 0px 10px 20px;
  }
}

.user-login li {
  display: flex;
  list-style: none;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 16px;

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  span {
    display: flex;
    align-items: center;
    .bx-chevron-right {
      font-size: 22px;
    }
  }
}

.box-language {
  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    padding: 10px 7px;
    color: #000;
    background: #fff;
  }
}

.user-login li:hover {
  background-color: #e5e5e5e5;
}

.right .btn {
  padding: 8px 20px;
  background: #ff3333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
}

/* Toggle Switch CSS */
.theme-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #bbb;
  width: 45px;
  height: 22px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s linear;
}

.light .checkbox-label {
  background-color: #bbb;
}

.toggle-icon {
  font-size: 17px;
  color: #f39c12;
  transition: color 0.2s linear;
}

.bx.bxs-moon {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
  color: #f1c40f;
}

.bx.bxs-sun {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
  color: #f39c12;
}

.ball {
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: transform 0.2s linear, background-color 0.2s linear;
  cursor: pointer;
}

.dark .ball {
  background-color: #fff;
}

.dark .bx {
  color: #e35c12;
}

.light .bx {
  color: #e35c12;
}

.dark .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.dark .checkbox:checked + .checkbox-label .bx.bxs-sun {
  color: #e35c12;
}

.dark .checkbox:checked + .checkbox-label .bx.bxs-moon {
  color: #f37112;
}

// notification
.notification {
  margin: 0 8px;
  .bx-bell {
    font-size: 22px;
  }
}

// user-info

.user-popup {
  padding: 20px 15px;
  img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }

  li {
    display: inline-flex;
    justify-content: space-between;
  }
}

.user-info {
  display: flex;
  flex-direction: column;

  p {
    padding: 2px 0px;
    color: #000;
  }
}

@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 10px;
    position: relative;
    height: 50px;
  }

  .search-destop {
    display: none;
  }
  .search-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  .search {
    // display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: 101;

    form {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 50px;
    }
  }
  .box-icon {
    font-size: 24px;
  }

  .theme-toggle {
    .icon-toggle {
      font-size: 2.4rem;
    }
  }

  .search-mobile {
    display: block;
    margin: 0 8px;
    .bx {
      font-size: 22px;
    }
  }
}

@media (max-width: 600px) {
  .search-mobile .bx-search {
    font-size: 25px;
  }

  .notification .bx-bell {
    font-size: 25px;
  }

  [data-theme="dark"] .search input {
    background: #fff;
    border: none;
    outline: none;
    color: #000;
  }

  [data-theme="dark"] .search button {
    background: #eee;
    color: #000;
  }
}
