.videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  padding-right: 15px;
  .video {
    margin-bottom: 30px;

    .thumbnail {
      width: 100%;
      height: 200px;
      position: relative;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }

      .video-action {
        background: #ff3333;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 8px 5px;
        left: 0;
        border-radius: 0px;
        margin: 0;
        .bx {
          color: #fff;
        }
      }
    }

    .details {
      display: flex;
      padding: 10px 0;

      .author {
        img {
          object-fit: cover;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          margin-right: 10px;
          border: 1px solid #ccc;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        h3 {
          line-height: 18px;
          font-size: 13px;
          margin-bottom: 6px;
          font-weight: 500;
        }

        a,
        span {
          text-decoration: none;
          color: rgb(97, 95, 95);
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

.video-like {
  margin-right: 5px;
}

.modal-share {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.share-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 102;
  display: flex;
  gap: 20px;
  min-width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .videos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .videos {
    grid-template-columns: 1fr;
    padding-right: 0px;

    .video {
      margin-bottom: 10px;
      padding: 0;
    }
  }

  .video-content {
    width: 100%;
  }

  .videos .video .thumbnail {
    height: 210px;

    img {
      height: 100%;
    }
  }
}

@media (min-width: 1600px) {
  .videos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
