@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

[data-theme="dark"] {
  background-color: #222;
  transition: background 0.2s linear;
  color: #eee;
}

[data-theme="light"] {
  transition: background 0.2s linear;
}

[data-theme="light"] .upload:hover {
  background: #eee;
}

[data-theme="dark"] a {
  color: #eee;
}

[data-theme="dark"] p,
button {
  color: #eee;
}

[data-theme="dark"] .video-des {
  background-color: #1e2121;
}

[data-theme="dark"] .modal-box {
  color: #eee;
  background: #333;
}

[data-theme="dark"] .modal-box .content input {
  background: #444;
  color: #fff;
  border: none;
}

[data-theme="dark"] .modal-box .content textarea {
  background: #444;
  color: #fff;
  border: none;
}

[data-theme="dark"] .modal-box p {
  color: #000;
}

[data-theme="dark"] .modal-box a {
  color: #000;
  font-weight: bold;
}

[data-theme="dark"] .box p {
  color: #000;
}

[data-theme="dark"] .active {
  background-color: #ff3333;
}

[data-theme="dark"] .details .title h3 {
  color: #eee;
}

[data-theme="dark"] .channel-container .channel-info,
.channel-navbar {
  background-color: #1e2121;
}

[data-theme="dark"] .channel-container .channel-navbar {
  background-color: #1e2121;
}

[data-theme="dark"] .video-recomment-item .video-content h1 {
  color: #eee;
}
[data-theme="dark"] .video-recomment-item .video-content span {
  color: #bbb;
}

[data-theme="dark"]
  .video-details
  .video-info
  .video-box
  .video-action
  .video-like {
  background-color: #111;
}

[data-theme="dark"] .video-details .video-info .video-box .video-action i {
  color: #eee;
}

[data-theme="dark"] .videos .video .details .title span {
  color: #bbb;
}

[data-theme="dark"]
  .video-details
  .video-info
  .video-box
  .video-action
  button
  span {
  color: #eee;
}

[data-theme="dark"] .content input,
textarea .upload-video form .content textarea,
.upload-video form .content button {
  background-color: #1e2121;
  color: #eee;
  border: none;
}

[data-theme="dark"] .upload-video form .content textarea {
  background-color: #1e2121;
  color: #eee;
}
[data-theme="dark"] .upload-video form .content input {
  background-color: #1e2121;
}

[data-theme="dark"] .channel-sub-user span {
  color: #eee;
}

[data-theme="dark"] .user-login li a {
  color: #000;
}

[data-theme="dark"] .upload-video form .file-video .file-info span {
  color: #eee;
}

[data-theme="dark"] .upload-video form .file-video .file-info {
  border: 1px dashed #eee;
}

[data-theme="dark"] .video-details .video-info .video-des {
  background: #111;
}

[data-theme="dark"] .video-details .comment {
<<<<<<< HEAD
  background: #111;
=======
  background: transparent;
>>>>>>> master
}

[data-theme="dark"] .videos .video .details .title a,
.videos .video .details .title span {
  color: rgb(158 146 146);
}

[data-theme="dark"] .video-details .video-info .video-box .video-author button {
  background-color: #111;
}

[data-theme="dark"] .upload:hover {
  background-color: #444;
}

[data-theme="dark"] .ellipsis-menu:hover {
  background-color: #444;
}

[data-theme="dark"] .notification:hover {
  background-color: #444;
}

[data-theme="dark"] .user-login {
  background-color: #000;
  color: #fff;
}

[data-theme="dark"] .user-login ul li a {
  color: #fff;
}

[data-theme="dark"] .user-login ul li:hover {
  background-color: #333;
}

[data-theme="dark"] .user-info p {
  color: #fff;
}

[data-theme="dark"] .search input {
  background: #444;
  border: none;
  outline: none;
  color: #fff;
}

[data-theme="dark"] .search button {
  background: #555;
}

[data-theme="dark"] .comment button .bx-smile {
  color: #bbb !important;
}

[data-theme="light"] .comment button {
  color: #000;
}

[data-theme="dark"] .box-language button {
  background: #000;
  color: #fff;
}

[data-theme="dark"] .comment-menu .box-menu:hover {
  background-color: #444;
}

[data-theme="dark"] .comment-box {
  background-color: #000;
}

[data-theme="dark"] .form-editcomment button .bxs-send {
  color: #fff;
}
[data-theme="dark"] .form-editcomment button:hover {
  background-color: #444;
}
[data-theme="dark"] .form-editcomment input {
  background: transparent;
  border-bottom: 1px solid #ccc;
}

[data-theme="dark"] .form-editcomment button {
  color: #fff;
}

[data-theme="dark"] .form-editcomment .bx-smile {
  color: #bbb !important;
}

[data-theme="dark"] .side-bar {
  background-color: #222;
}

@media (max-width: 900px) {
  [data-theme="dark"] .side-bar {
    background-color: #222;
  }
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

.videos::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-blue {
  color: #04144a;
}

.m-right {
  margin-right: 5px;
}

.cursor-pointer,
i {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  color: #000;
}

.line-clamp-50 {
  -webkit-line-clamp: 50;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.box-icon {
  padding: 0 7px;
  cursor: pointer;
  font-size: 22px;
}

.box-icon:hover {
  visibility: visible;
  opacity: 1;
}

.mic {
  margin-top: 10px;
}

/* ============= */
main {
  height: calc(100vh - 60px);
  display: flex;
  max-width: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-author,
  .video-action {
    width: 100%;
    margin: 10px 0;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 5px 5px;
    margin-bottom: 30px;
  }

  .infinite-scroll-component::-webkit-scrollbar {
    width: 0px;
  }

  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}
